{% extends 'base.html.twig' %}

{% block title %} Formulaire de catégorie {% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5"> Formulaire de catégorie </h1>

        

{% endblock %}